<!DOCTYPE html>
<html>
<head>
    <title>Таблица лидеров</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'planets/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Таблица лидеров</h1>
        <table>
            <tr>
                <th>Имя</th>
                <th>Очки</th>
                <th>Дата</th>
            </tr>
            {% for leader in leaders %}
                <tr>
                    <td>{{ leader.name }}</td>
                    <td>{{ leader.score }}</td>
                    <td>{{ leader.date }}</td>
                </tr>
            {% endfor %}
        </table>
        <a href="{% url 'all_planets' %}" class="back-button">Посмотреть все планеты</a>
        <a href="{% url 'index' %}" class="back-button">Начать заново</a>
    </div>
</body>
</html>
